body {
    padding-top: 50px;
}

html {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

main {
    padding: 15px 40px;
}

.btn {
    display: block;
    width: 11.4rem;
    padding: 1.3rem 0;
    background-color: #399bd1;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    margin-top: 2.8rem;
}

.box {
    box-sizing: border-box;
}

/* buttons */

.btn:active {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

.btn:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

.center {
    margin: 0 auto;
}

.image-container {
    opacity: 0.7;
}

/* ===NAVIGATION STYLES=== */

nav {
    background-color: white;
    z-index: 20px;
}

nav a {
    color: black;
    font-size: 1.1rem;
}
    
nav .active {
    color: #399bd1;
}

/* Jumbotron Styles */

.jumbotron {
    background-size: cover;
    padding: 11.85rem 0;
}

.jumbotron .container {
    width: 100%;
}

.jumbotron h2 {
    font-family: 'Monoton';
    font-size: 7.1rem;
    color: white;
    text-shadow: -1px -1px 0 #000, 
                 1px -1px 0 #000,
                 -1px 1px 0 #000,
                 1px 1px 0 #000;
    text-align: center;
}

.jumbotron p {
    color: white;
    width: 50rem;
    text-align: center
}

.jumbotron-bike {
    background-image: url(../images/jumbotron-bike.jpg);
}

/* ===FEATURED PROJECTS STYLES=== */

/* ===PROJECTS STYLES=== */

#projects .project img {
    width: 100%;
}

#projects .row {
    width: 100%;
}

